<%- include ('partials/_header.ejs'); %>

<div class="jumbotron text-center mb-4 text-uppercase" style="margin-bottom:0;">    
    <div class="container" style="background-color: transparent;">
        <div class="row">
            <div class="col-md-8">
                <h1 class="display-3 text-wrap">Recycler</h1>
                <h2>Donde lo orgánico, se reutiliza</h2>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="/images/rs_logo_0002.png" style="width: 60%;" />
            </div>
        </div>
      </div>
</div>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <p>Raw denim you
      probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
      cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
      keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
      placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi
      qui.</p>
    </div>
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <p>Food truck fixie
      locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit,
      blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
      Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum
      PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS
      salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
      sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
      stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
    </div>
    <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <span>Etsy mixtape
      wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack
      lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard
      locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify
      squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie
      etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog
      stumptown. Pitchfork sustainable tofu synth chambray yr.</span>
    </div>
    <div class="tab-pane fade show active" id="map" role="tabpanel" aria-labelledby="map-tab">Etsy mixtape
      wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack
      lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard
      locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify
      squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie
      etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog
      stumptown. Pitchfork sustainable tofu synth chambray yr.</div>  
  </div>

  <main>
    <!-- main -->
    <div class="container" id="about">
      <h1>About</h1>
      <p>Hola</p>
      <p>Hola</p>
      <p>Hola</p>
      <p>Hola</p>
      <p>Hola</p>
      <p>Hola</p>
      <p>Hola</p>
      <p>Hola</p>
      <p>Hola</p>
      <p>Hola</p>
      <p>Hola</p>
      
    </div>
    <div class="container" id="portfolio">
      <h1>Portfolio</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Vel, voluptatibus cupiditate corporis doloremque, ratione quasi 
        explicabo sunt totam voluptate sequi asperiores nesciunt! Fugiat 
        explicabo odio fugit delectus, aspernatur odit quam?</p>
    </div>
    <!-- 
    <div class="container" id="blog">
      <h1>Blog</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Sed, aspernatur quidem maiores est molestias culpa earum ad 
        ex hic blanditiis cum omnis, laboriosam praesentium perferendis 
        nesciunt accusantium, suscipit aut. Consequuntur?</p>
    </div>
    -->
    <div class="container" id="contacto">
      <h1>Contact</h1>
      
      <div class="container" style="margin-top: 30px;">
  
        <div class="row">

                <!--FORM-->
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-body">
                      <form action="/enviar-contacto" method="POST">
                        <div class="form-group">
                          <label for="name">Nombres</label>
                          <input class="form-control" type="text" name="name" placeholder="" id="name" value="" required>
                         <label for="lastname">Apellidos</label>
                          <input class="form-control" type="text" name="lastname" placeholder="" id="lastname" value="" required>
                                                             
                          <label for="email">Correo Electronico</label>
                          <input class="form-control" type="email" name="email" placeholder="" id="email" value="" required>
                         
                          <label for="cellphone">Celular</label>
                          <input class="form-control" type="text" name="cellphone" placeholder="" id="cellphone" value="" required>
                        
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Mensaje</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                          </div>

                        <!-- 
                        <label for="formGroupExampleInput4">Selecciona Curriculum</label>
                        <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFileLang" lang="es" name="resume"">
                                <label class="custom-file-label " for="customFileLang ">Seleccionar Archivo</label>
                        </div>
                        -->
                        
                        </div>
                        <button class="btn btn-success btn-block " type="submit">Enviar</button>
                      </form>
                    </div>
                  </div>
                </div>
                 <!-- to the right text-->
                 
              </div>       
            </div>
    </div>
  </main>

<%- include ('partials/_footer.ejs'); %>