<%- include ('partials/_header.ejs'); %>

<div class="jumbotron text-center mb-4 text-uppercase" style="margin-bottom:0; background-color: #6F9">    
  <div class="container" style="background-color: transparent;">
      <div class="row">
          <div class="col-md-8">
              <h1 class="display-3 text-wrap">Bienvenidos</h1>
              <h2>Reciclamos todo</h2>
          </div>
          <div class="col-md-4">
              <img class="img-responsive" src="/images/rs_logo_0001.png" style="width: 60%;" />
          </div>
      </div>
    </div>
</div>

<div class="container" style="margin-top: 30px;">
  
        <div class="row">
                <!--FORM-->
                <div class="col-md-5">
                  <div class="card">
                    <div class="card-body">
                      <form action="/enviar-contac-us" method="POST">
                        <div class="form-group">
                          <label for="name">Nombre</label>
                          <input class="form-control" type="text" name="name" placeholder="" id="name" value="" required>
                         <label for="lastname">Apellido</label>
                          <input class="form-control" type="text" name="lastname" placeholder="" id="lastname" value="" required>
                                                             
                          <label for="email">Correo Electronico</label>
                          <input class="form-control" type="email" name="email" placeholder="" id="email" value="" required>
                         
                          <label for="cellphone">Celular</label>
                          <input class="form-control" type="text" name="cellphone" placeholder="" id="cellphone" value="" required>
                        
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Mensaje</label>
                            <textarea class="form-control" type="text" name="mensaje" id="exampleFormControlTextarea1" rows="5" value="" required>
                            
                            </textarea>
                          </div>
                          
                        <!-- 
                        <label for="formGroupExampleInput4">Selecciona Curriculum</label>
                        <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFileLang" lang="es" name="resume"">
                                <label class="custom-file-label " for="customFileLang ">Seleccionar Archivo</label>
                        </div>
                        -->
                        
                        </div>
                        <button class="btn btn-primary btn-block " type="submit">Enviar</button>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- to the right text-->
                <div class="col-md-7">
                  <h2 class="text-uppercase text-justify">Contactanos,</h2>
                  <p>Si tienes alguna duda por favor déjanosla saber.
                  </p>
                  <br>
                 

                </div>
              </div>       
            </div>
        
<%- include ('partials/_footer.ejs'); %>         