<%- include ('partials/_header.ejs'); %>

<div class="jumbotron text-center mb-4 text-uppercase" style="margin-bottom:0;">    
    <div class="container" style="background-color: transparent;">
        <div class="row">
            <div class="col-md-8">
                <h1 class="display-3 text-wrap">Recycler</h1>
                <h2>Donde lo orgánico, se reutiliza</h2>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="/images/rs_logo_0002.png" style="width: 60%;" />
            </div>
        </div>
      </div>
</div>

<%- include ('partials/_footer.ejs'); %>