<%- include ('partials/_header.ejs'); %>

<div class="jumbotron text-center mb-4 text-uppercase" style="margin-bottom:0"> 
    <h1 class="display-3 text-wrap">Welcome to Recycling </h1>
</div>

<div id="tabs">
    <ul>
      <li><a href="#tabs-1">Acerca de</a></li>
      <li><a href="#tabs-2">Información</a></li>
      <li><a href="#tabs-3">Contacto</a></li>
    </ul>
    <div id="tabs-1">
      <p>Nuestra empresa se encarga de hacer reciclaje.</p>
    </div>
    <div id="tabs-2">
      <p>Necesitamos de la recoleccion de residuos para vivir felices y generar ganancias. Apoyando al medio ambiente.</p>
    </div>
    <div id="tabs-3">
      <p>Para mayor información, pueden llenar el siguiente formulario</p>
      <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
    </div>
  </div>

