<%- include ('partials/_header.ejs'); %>

<div class="jumbotron text-center mb-4 text-uppercase" style="margin-bottom:0"> 
    <h1 class="display-3 text-wrap">Welcome to Recycling </h1>
</div>

<div class="container">
  <div id="modal-1">
    <div class="box-menu">
      <ul>
        <li class="active"><a href="#start"><i class="fa fa-home" aria-hidden="true"></i> Start</a></li>
        <li><a href="#about"><i class="fa fa-info" aria-hidden="true"></i> About</a></li>
        <li><a href="#settings"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li>
        <li><a href="#close" id="close"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="box" id="start">
        <h2>Hello there</h2>
        <img class="grow" src="http://i.giphy.com/fSPV4dio5ioRa.gif" alt="" />
        <p>I'm just a cute little box with a menu. I'm also fully responsive. Use it as you wish!</p>
      </div>
      <div class="box" id="about">
        <h2>What we do</h2>
        <p class="ingres">Turducken kevin drumstick pork chop, turkey flank fatback andouille. Prosciutto kevin strip steak rump short ribs. Ham pork belly turducken swine kielbasa short ribs beef tri-tip hamburger ribeye. Meatball landjaeger short loin, shankle leberkas
          brisket shoulder bacon picanha pork belly. Jowl jerky boudin bacon short ribs biltong, tenderloin flank kevin cow. Tenderloin pork pancetta, salami ribeye pork loin leberkas spare ribs. Ribeye swine filet mignon, cow biltong tenderloin sausage.</p>

        <p>Leberkas alcatra t-bone boudin jowl brisket tongue frankfurter shank. Venison filet mignon cow tri-tip tail doner boudin bacon ball tip shank turducken fatback prosciutto. Swine drumstick jerky, ham hock tenderloin shank sausage.</p>
      </div>
      <div class="box" id="settings">
        <h2>Settings</h2>
        <form>
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="New Password" />
          <input type="password" placeholder="Confirm Password" />
          <button class="submit">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

<a href="#" class="openit"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>

