<%- include ('partials/_header.ejs'); %>

<div class="jumbotron text-center mb-4 text-uppercase" style="margin-bottom:0"> 
    <h1 class="display-3 text-wrap">Welcome to Recycling </h1>
</div>

<div id="tabs">
    <ul>
      <li><a href="#tabs-1">Acerca de</a></li>
      <li><a href="#tabs-2">Información</a></li>
      <li><a href="#tabs-3">Contacto</a></li>
    </ul>
    <div id="tabs-1">
      <p>Nuestra empresa se encarga de hacer reciclaje.</p>
    </div>
    <div id="tabs-2">
      <p>Necesitamos de la recoleccion de residuos para vivir felices y generar ganancias. Apoyando al medio ambiente.</p>
    </div>
    <div id="tabs-3">      
      <h3>Contact Form</h3>

      <p>Para mayor información, pueden llenar el siguiente formulario</p>
      
<div class="container">
  <form action="/action_page.php">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="usa">USA</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>  
    </div>
  </div>

