<%- include ('partials/_header.ejs'); %>

<div class="jumbotron text-center mb-4 text-uppercase" style="margin-bottom:0"> 
    <h1 class="display-3 text-wrap">Welcome to Recycling </h1>
</div>

<a href="contact.ejs">Login</a>

