.nav-link {
    background-color: white;
}

a.active.nav-link {
    background-color: #00E149 !important;
}

ul, il {
    color: black;
}

a, a:hover {
    color: black;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border: 0;
}