.nav-link {
    background-color: white;
}

a.active.nav-link {
    background-color: #00E149 !important;
}

ul {
    color: black;
    border-bottom: none;
}

a, a:hover {
    color: black;   
    border-bottom: none; 
}

.jumbotron {
    background-color: #28A745;
}