</body>
 
<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 ">

        <!-- Footer Elements -->
        <div class="container text-center">
      
          <!-- Grid row-->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-12 py-5">
              <div class="mb-5 flex-center">
      
                <!-- Facebook -->
                <a class="fb-ic" href="https://www.facebook.com/buscotrabajoperuano/" target="blank">
                  <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x" style="color: #28A745;"> </i>
                </a>
                <!-- Twitter 
                <a class="tw-ic">
                  <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                -->
                <!-- Google +-->
            
                <!--Linkedin -->
    
                <!--Instagram-->
                <a class="ins-ic" href="https://www.instagram.com/bchperuconsulting/" target="blank">
                  <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x" style="color: #28A745;"> </i>
                </a>
                <!--Blogger
                <a href="https://bchpeconsultoria.blogspot.com/" target="blank">
                <i class="fab fa-blogger-b mr-md-5 mr-3 fa-2x"></i>
                </a>-->
              </div>
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row-->
      
        </div>
        <!-- Footer Elements -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3"> © 2020 Copyright - Recycling </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->
<!-- 
<footer>
    <div class="footer-copyright text-center py-3 sticky-bottom"> © 2019 Copyright - BCHPE Consulting </div>
    
</footer>
  -->
  
<!--
 Load Facebook SDK for JavaScript 
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v5.0'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
-->
<!-- Your customer chat code 
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="2031338033763783"
theme_color="#13cf13"
logged_in_greeting="Hola! Bienvenido a BCHPE!"
logged_out_greeting="Hola! Bienvenido a BCHPE!">
</div>      
-->
<script>
  smoothie();
</script>
</html>

