<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
<head>
  
    <!-- 
    <link rel="shortcut icon" href="/src/public/favicon/icons8-monitor-64.png" type="image/png">
    -->


    <title>Reciclado Orgánico</title>
    <meta name="decription" content="BCHPE tiene el aviso de trabajo que buscas, además tienes la oportunidad 
    de registrarte en nuestra página para enviarte los puestos laborales en búsqueda">
    <meta property="og:title" content="Trabajos, ofertas, oficios en Peru - Bchpe.pe">
    <meta property="og:url" content="http://www.bchpe.pe">
    <meta property="og:decription" content="Aviso de trabajo, oportunidad laboral, ofertas laborales">
    <meta property="og:image" content="http://www.bchpe.pe/images/bchpe_real_image.jpg">
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="300"/>
    <meta property="og:image:height" content="200"/>
    <meta name=viewport content="width=device-width, initial-scale=1">
     
    <!-- JS -->
    <script src="https://unpkg.com/smoothie-js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    
    <!--
    <img src="https://img.icons8.com/plasticine/100/000000/worldwide-delivery.png">
    <link rel="stylesheet" type="text/css" href="../favicon/bchpe_favicon.png">
    -->

    <!--J-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!--<link rel="stylesheet" type="text/css" href="/css/materialize.css">-->
    <script src="/js/materialize.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/jquery/jquery.js" type="text/javascript"></script>
    
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    

    <!--end J-->
  </head>
  <body>
    <!-- 
        <nav class='navbar navbar-dark bg-dark'>
                <a class="navbar-brand" href="/">RECYCLING</a>
            </nav>
            -->

            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist" style="text-align: center;">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="/" role="tab" aria-controls="home"
                  aria-selected="true" data-smoothie>HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about"
                  aria-selected="false" data-smoothie>NOSOTROS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#portfolio" role="tab" aria-controls="profile"
                  aria-selected="false" data-smoothie>PERFIL</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contacto" role="tab" aria-controls="contact"
                  aria-selected="false" data-smoothie>CONTACTO</a>
              </li>              
            </ul>

<!-- This is the hamburger menu
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                          
              <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item">
                       <a class="nav-link active text-success" href="/">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-success" href="/">NOSOTROS</a>
               </li>
               <li class="nav-item">
                <a class="nav-link active text-success" href="/">NUESTRO EQUIPO</a>
                </li>
                <li class="nav-item">
                      <a class="nav-link active text-success" href="/contact-us">CONTACTANOS</a>
                </li>
              </ul>
                
              </div>
              
            </nav>-->



              